Repository emberjs/ember.js, pull requests merged in 2021-11, with the labels that each got.

#19820 Fix memory leak.
  packages/@ember/-internals/container/lib/container.ts
Labels: Bug, Regression, memory leak, Needs backport

#19762 [CLEANUP beta] Update GlimmerVM to 0.81
  package.json
  packages/@ember/-internals/environment/lib/env.ts
  packages/@ember/-internals/glimmer/lib/environment.ts
  packages/@ember/-internals/glimmer/lib/helper.ts
  packages/@ember/-internals/glimmer/lib/utils/managers.ts
  packages/@ember/-internals/glimmer/tests/integration/application/engine-test.js
  packages/@ember/-internals/glimmer/tests/integration/application/rendering-test.js
  packages/@ember/-internals/glimmer/tests/integration/components/angle-bracket-invocation-test.js
  packages/@ember/-internals/glimmer/tests/integration/components/curly-components-test.js
  packages/@ember/-internals/glimmer/tests/integration/components/template-only-components-test.js
  packages/@ember/-internals/glimmer/tests/integration/custom-component-manager-test.js
  packages/@ember/-internals/glimmer/tests/integration/custom-modifier-manager-test.js
  packages/@ember/-internals/glimmer/tests/integration/helpers/custom-helper-test.js
  packages/@ember/-internals/glimmer/tests/integration/helpers/tracked-test.js
  packages/@ember/-internals/glimmer/tests/integration/mount-test.js
  packages/@ember/-internals/glimmer/tests/integration/syntax/each-test.js
  packages/@ember/-internals/glimmer/tests/integration/syntax/let-test.js
  packages/@ember/-internals/metal/lib/property_get.ts
  packages/@ember/-internals/metal/tests/tracked/validation_test.js
  tests/docs/expected.js
  tests/node/app-boot-test.js
  tests/node/component-rendering-test.js
  tests/node/visit-test.js
  yarn.lock
Labels: 4.0 Cleanup

#19806 [CLEANUP beta] Drop export of built-ins, remove legacy components
  packages/@ember/-internals/glimmer/index.ts
  packages/@ember/-internals/glimmer/lib/component.ts
  packages/@ember/-internals/glimmer/lib/components/-link-to.ts
  packages/@ember/-internals/glimmer/lib/components/-textarea.ts
  packages/@ember/-internals/glimmer/lib/components/abstract-input.ts
  packages/@ember/-internals/glimmer/lib/components/checkbox.ts
  packages/@ember/-internals/glimmer/lib/components/input.ts
  packages/@ember/-internals/glimmer/lib/components/internal.ts
  packages/@ember/-internals/glimmer/lib/components/link-to.ts
  packages/@ember/-internals/glimmer/lib/components/text-field.ts
  packages/@ember/-internals/glimmer/lib/components/textarea.ts
  packages/@ember/-internals/glimmer/lib/helpers/query-param.ts
  packages/@ember/-internals/glimmer/lib/resolver.ts
  packages/@ember/-internals/glimmer/lib/setup-registry.ts
  packages/@ember/-internals/glimmer/lib/templates/-link-to.d.ts
  packages/@ember/-internals/glimmer/lib/templates/-link-to.hbs
  packages/@ember/-internals/glimmer/lib/templates/input.hbs
  packages/@ember/-internals/glimmer/lib/templates/link-to.hbs
  packages/@ember/-internals/glimmer/lib/templates/textarea.hbs
  packages/@ember/-internals/glimmer/tests/integration/application/debug-render-tree-test.ts
  packages/@ember/-internals/glimmer/tests/integration/components/input-angle-test.js
  packages/@ember/-internals/glimmer/tests/integration/components/input-curly-test.js
  packages/@ember/-internals/glimmer/tests/integration/components/link-to/query-params-angle-test.js
  packages/@ember/-internals/glimmer/tests/integration/components/link-to/query-params-curly-test.js
  packages/@ember/-internals/glimmer/tests/integration/components/link-to/rendering-angle-test.js
  packages/@ember/-internals/glimmer/tests/integration/components/link-to/rendering-curly-test.js
  packages/@ember/-internals/glimmer/tests/integration/components/link-to/routing-angle-test.js
  packages/@ember/-internals/glimmer/tests/integration/components/link-to/routing-curly-test.js
  packages/@ember/-internals/glimmer/tests/integration/components/link-to/transitioning-classes-angle-test.js
  packages/@ember/-internals/glimmer/tests/integration/components/link-to/transitioning-classes-curly-test.js
  packages/@ember/-internals/glimmer/tests/integration/components/strict-mode-test.js
  packages/@ember/-internals/glimmer/tests/integration/components/textarea-angle-test.js
  packages/@ember/-internals/glimmer/tests/integration/components/textarea-curly-test.js
  packages/@ember/-internals/glimmer/tests/integration/components/to-string-test.js
  packages/@ember/-internals/glimmer/tests/utils/helpers.js
  packages/@ember/-internals/metal/lib/mixin.ts
  packages/@ember/-internals/routing/lib/services/routing.ts
  packages/@ember/-internals/runtime/lib/mixins/target_action_support.js
  packages/@ember/-internals/views/index.d.ts
  packages/@ember/-internals/views/index.js
  packages/@ember/-internals/views/lib/mixins/text_support.js
  packages/@ember/application/tests/application_test.js
  packages/@ember/canary-features/index.ts
  packages/@ember/component/checkbox.ts
  packages/@ember/component/index.ts
  packages/@ember/component/text-area.ts
  packages/@ember/component/text-field.ts
  packages/@ember/engine/tests/engine_test.js
  packages/@ember/routing/index.ts
  packages/@ember/routing/link-component.ts
  packages/ember-template-compiler/lib/plugins/index.ts
  packages/ember-template-compiler/lib/plugins/transform-link-to.ts
  packages/ember-template-compiler/tests/plugins/transform-link-to-test.js
  packages/ember/index.js
  packages/ember/tests/reexports_test.js
  tests/docs/expected.js
  tests/node/app-boot-test.js
Labels: Ember 4.0, 4.0 Cleanup

#19833 [CLEANUP beta] Remove deprecated array observers
  packages/@ember/-internals/metal/lib/array.ts
  packages/@ember/-internals/runtime/lib/mixins/array.js
  packages/@ember/-internals/runtime/lib/system/array_proxy.js
  packages/@ember/-internals/runtime/tests/helpers/array.js
  packages/@ember/-internals/runtime/tests/mixins/array_test.js
  packages/@ember/-internals/runtime/tests/mutable-array/replace-test.js
  packages/@ember/-internals/runtime/tests/system/array_proxy/array_observer_test.js
  packages/@ember/-internals/utils/lib/ember-array.ts
  tests/docs/expected.js
Labels: Ember 4.0, 4.0 Cleanup
